@media (max-width: 960px) {
  .home-page {
    .home-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));

      .box {
        min-height: 250px;
        &.box-intro {
          order: 1;
        }
        &.box-light {
          order: 2;
        }
        &.box-skills {
          order: 3;
        }
        &.box-github {
          order: 4;
        }
        &.box-project {
          order: 5;
        }
        &.box-linkedin {
          order: 6;
        }
        &.box-about {
          order: 7;
        }
        &.box-mail {
          order: 8;
        }
      }
    }
  }

  .about-page {
    .content {
      .collapse-container {
        .skills-grid {
          grid-template-columns: 1fr 1fr 1fr;

          .cell {
            &:nth-child(4n) {
              border-right: 1px var(--primary-dark) solid;
            }
            &:nth-child(3n) {
              border-right: none;
            }
          }
        }
      }
    }
  }

  .project-page {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);

      .project-stemma {
        order: 1;
        grid-column: span 3;
        grid-row: span 2;
      }
      .project-webarcade {
        order: 2;
        grid-column: span 1;
        grid-row: span 2;
      }
      .project-gomoku {
        order: 3;
        grid-column: span 2;
        grid-row: span 2;
      }
      .project-numberrecognition {
        order: 4;
        grid-column: span 3;
        grid-row: span 1;
      }
      .project-tts {
        order: 5;
        grid-column: span 2;
        grid-row: span 1;
      }
      .project-fruitninja {
        order: 6;
        grid-column: span 1;
        grid-row: span 1;
      }
      .project-cacatua {
        order: 7;
        grid-column: span 3;
        grid-row: span 1;
      }
    }
  }
}

@media (max-width: 768px) {
  .home-page {
    .home-grid {
      .box {
        min-height: 220px;
      }
    }
  }

  .about-page {
    .content {
      .collapse-container {
        .skills-grid {
          grid-template-columns: 1fr 1fr;
          .cell {
            &:nth-child(4n) {
              border-right: 1px var(--primary-dark) solid;
            }
            &:nth-child(3n) {
              border-right: 1px var(--primary-dark) solid;
            }
            &:nth-child(2n) {
              border-right: none;
            }
          }
        }
      }
    }
  }

  .project-page {
    .grid-container {
      grid-template-columns: repeat(6, 1fr);

      .project-stemma {
        order: 1;
        grid-column: span 6;
        grid-row: span 2;
      }
      .project-webarcade {
        order: 2;
        grid-column: span 3;
        grid-row: span 2;
      }
      .project-gomoku {
        order: 3;
        grid-column: span 3;
        grid-row: span 2;
      }
      .project-numberrecognition {
        order: 4;
        grid-column: span 6;
        grid-row: span 1;
      }
      .project-tts {
        order: 5;
        grid-column: span 4;
        grid-row: span 1;
      }
      .project-fruitninja {
        order: 6;
        grid-column: span 2;
        grid-row: span 1;
      }

      .project-cacatua {
        order: 7;
        grid-column: span 6;
        grid-row: span 1;

        grid-template-columns: 1fr 1fr;

        .preview-container {
          .title {
            margin-bottom: 1rem;
          }

          .glow-card {
            margin: 0 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .home-page {
    .home-grid {
      padding: 40px 24px 20px;
      grid-gap: 0.5rem;
      grid-template-columns: repeat(2, 1fr);

      .box {
        min-height: 200px;
        &.box-intro {
          order: 1;
        }
        &.box-light {
          order: 2;
        }
        &.box-github {
          order: 3;
        }
        &.box-about {
          order: 4;
        }

        &.box-skills {
          order: 5;

          .skills-grid {
            display: grid;
            grid-template-columns: repeat(6, 1fr);

            img {
              width: 40px;
              height: 40px;
            }
          }
        }
        &.box-project {
          order: 6;
        }

        &.box-linkedin {
          order: 7;
        }
        &.box-mail {
          order: 8;
        }
      }
    }
  }

  .about-page {
    .content {
      .collapse-container {
        .skills-grid {
          grid-template-columns: 1fr 1fr;

          .cell {
            grid-template-columns: auto 30px;
            .language-name {
              span {
                // border: 1px red solid;
                // border-radius: 0.5rem;
                background-color: transparent;
                padding: 0 0.1rem;
              }
            }
            .proficiency {
              display: none;
            }
            .logo {
              width: 100%;
              padding: 0.1rem;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .about-page,
  // .project-page,
  .not-found-page,
  .playground-page {
    padding: 40px 24px 20px;
    .content .project-grid {
      grid-gap: 0.5rem;
      .box {
        min-height: 200px;
      }
    }
  }

  .project-page {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);

      .project-stemma {
        order: 1;
        grid-column: span 2;
        grid-row: span 2;

        grid-template-columns: 1fr;

        .card {
          height: fit-content;
        }
        .details {
          .description {
            .description-span2 {
              display: none;
            }
          }
        }
      }
      .project-gomoku {
        order: 2;
        grid-column: span 2;
        grid-row: span 1;
      }
      .project-numberrecognition {
        order: 3;
        grid-column: span 2;
        grid-row: span 1;

        flex-direction: column;

        .left-tab {
          width: 100%;
          justify-content: center;
        }
      }
      .project-webarcade {
        order: 4;
        grid-column: span 2;
        grid-row: span 1;
      }
      .project-tts {
        order: 5;
        grid-column: span 2;
        grid-row: span 1;
      }
      .project-cacatua {
        order: 6;
        grid-column: span 2;
        grid-row: span 1;
      }
      .project-fruitninja {
        display: none;
      }

      // .project-webarcade {
      //   order: 3;
      //   grid-column: span 2;
      //   grid-row: span 1;
      // }
      // .project-tts {
      //   order: 4;
      //   grid-column: span 2;
      //   grid-row: span 1;
      // }

      // .project-cacatua {
      //   order: 5;
      //   grid-column: span 2;
      //   grid-row: span 1;

      //   grid-template-columns: 1fr;

      //   .preview-container {
      //     .title {
      //       margin-bottom: 1rem;
      //     }

      //     .glow-card {
      //       margin: 0 1rem;
      //     }
      //   }
      // }
      // .project-fruitninja {
      //   order: 7;
      //   grid-column: span 1;
      //   grid-row: span 1;

      //   .card {
      //     aspect-ratio: 1/0.8;
      //     .front {
      //       img.flip-icon {
      //         width: 15px;
      //         height: 15px;
      //       }
      //     }
      //   }
      // }
    }
  }
}

@media (max-width: 540px) {
  .home-page {
    .home-grid {
      padding: 40px 16px 20px;

      .box {
        min-height: 180px;
      }
    }
  }

  .about-page,
  // .project-page,
  .not-found-page,
  .playground-page {
    padding: 40px 16px 20px;
    .box {
      min-height: 180px;
    }
  }

  // .about-page {
  //   .content {
  //     .selfie-container {
  //       .face-pic {
  //         line-height: 4px;
  //       }
  //     }

  //     .collapse-container {
  //       .skills-grid {
  //         grid-template-columns: 1fr;
  //       }
  //     }
  //   }
  // }
}
