@media (max-width: 960px) {
  .home-page {
    .home-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));

      .box {
        min-height: 250px;
        &.box-intro {
          order: 1;
        }
        &.box-light {
          order: 2;
        }
        &.box-skills {
          order: 3;
        }
        &.box-github {
          order: 4;
        }
        &.box-project {
          order: 5;
        }
        &.box-linkedin {
          order: 6;
        }
        &.box-about {
          order: 7;
        }
        &.box-mail {
          order: 8;
        }
      }
    }
  }

  .project-page .content .project-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    .box {
      min-height: 250px;
    }
  }
}

@media (max-width: 768px) {
  .home-page {
    .home-grid {
      .box {
        min-height: 220px;
      }

      // .box-2w {
      //   grid-column: auto;
      // }

      // .box-2h {
      //   grid-row: auto;
      // }
    }
  }

  .project-page .content .project-grid {
    grid-template-columns: 1fr;
    .box {
      min-height: 220px;
      &.box-webarcade {
        order: 1;
      }
      &.box-badgehub {
        order: 2;
      }
      &.box-profile {
        order: 3;
      }
      &.box-gomoku-ai {
        order: 4;
      }
      &.box-cacatua {
        order: 5;
      }
      &.box-dating-app {
        order: 6;
      }
      &.box-tts {
        order: 7;
      }
      &.box-voice-record {
        order: 8;
      }
      &.box-grid-shot {
        order: 9;
      }
      &.box-fruit-ninja {
        order: 10;
      }
    }
    .box-2w {
      grid-column: auto;
    }
    .box-2h {
      grid-row: auto;
    }
  }
}

@media (max-width: 600px) {
  .home-page {
    .home-grid {
      padding: 40px 24px 20px;
      grid-gap: 0.5rem;
      grid-template-columns: repeat(2, 1fr);

      .box {
        min-height: 200px;
        &.box-intro {
          order: 1;
        }
        &.box-light {
          order: 2;
        }
        &.box-github {
          order: 3;
        }
        &.box-about {
          order: 4;
        }

        &.box-skills {
          order: 5;

          .skills-grid {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
          }
        }
        &.box-project {
          order: 6;
        }

        &.box-linkedin {
          order: 7;
        }
        &.box-mail {
          order: 8;
        }
      }
    }
  }

  .about-page,
  .project-page,
  .not-found-page,
  .playground-page {
    padding: 40px 24px 20px;
    .content .project-grid {
      grid-gap: 0.5rem;
      .box {
        min-height: 200px;
      }
    }
  }
}

@media (max-width: 540px) {
  .home-page {
    .home-grid {
      padding: 40px 16px 20px;

      .box {
        min-height: 180px;
      }
    }
  }

  .about-page,
  .project-page,
  .not-found-page,
  .playground-page {
    padding: 40px 16px 20px;
    .box {
      min-height: 180px;
    }
  }

  .about-page {
    .content {
      .selfie-container {
        .face-pic {
          line-height: 4px;
        }
      }
    }
  }
}
